.martailer-slider {
    display: none;
    opacity: 0;
    transition: opacity .25s ease-in;
}

.martailer-slider.slick-initialized { display: block; opacity: 1 }

.martailer-slider__actions {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.martailer-slider__actions button {
    width: 32px;
    height: 32px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid #3699EC;
    color: #3699EC;
}

.martailer-slider__actions button:hover,
.martailer-slider__actions button:focus,
.martailer-slider__actions button:active {
    color: white;
    background-color: #3699EC;
    border: 1px solid #3699EC;
    outline: none;
}

.martailer-slider__actions .slick-next {
    order: 1;
}

.martailer-slider__actions .slick-prev .fas {
    position: relative;
    left: -1px;
}

.martailer-slider__actions .fas {
    font-size: 14px;
    display: flex;
}

.martailer-slider__actions .slick-dots {
    list-style: none;
    display: flex;
}

.martailer-slider__actions .slick-dots button {
    font-family: Inter, sans-serif;
    color: #A7D1F4;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    border: transparent;
}

.martailer-slider__actions .slick-dots li:not(:last-child) {
    margin-right: 12px;
}



.martailer-slider__actions .slick-dots button:hover,
.martailer-slider__actions .slick-dots button[aria-selected="true"] {
    background-color: #F7FAFC;
    color: #3699EC;
}